body {
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    width: 90%;
    max-width: 680px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
}

li a {
    background-color: white;
    color: black;
    padding: 15px;
    display: block;
    margin: 15px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

li a:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Switch Button */
#switch {
    position: relative;
    width: 64px;
    margin: 4px auto; /* Para centralizar o botão */
}

#switch button {
    width: 32px;
    height: 32px;
    background: white url(./assets/moon-stars.svg); /* Ícone da lua */
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: rgba(0, 0, 0, 0.1); /* Cor do "trilho" do switch */
    border: 1px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}