body {
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    width: 90%;
    max-width: 680px;
    margin: 40 auto;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
}

li a {
    background-color: white;
    color: black;
    padding: 15px;
    display: block;
    margin: 15px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

li a:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}